/* moblie */
@media screen and (max-width:576px) {
    .news-title {
        font-size: 20px !important;
        text-align: center;
        margin-bottom: 10px;
    }

    .news-sub-title {
        font-size: 1rem;
        color: #555;
        margin-top: 15px;
        max-width: 600px;
        margin: 0 auto;
        line-height: 1;
        text-align: center;

    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        font-size: 22px;
    }

    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    #nav-container {
        flex-direction: column;
        gap: 10px;
        padding: 10px
    }

    .search-container {
        width: 100%;
        box-sizing: border-box;

    }

    .search-input {
        width: calc(100% - 20px)
    }

    /* home page bannder news section */
    .most-popular-news {
        flex-direction: column;
        padding: 0 20px
    }

    .sports-img img {
        width: 100%;
    }

    .banner-news-title {
        font-size: 26px;
        text-align: center;
    }

    #popular-news-description {
        font-size: 18px;
        text-align: center;
        margin: 20px 0;
    }

    .category-and-date {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 9px
    }

    /* news card container */
    #news-card-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 0px
    }

    /* home page most popular news section */
    .news-title {
        font-size: 28px;
        text-align: center;
    }

    .news-sub-title {
        font-size: 1.2rem;
        color: #555;
        margin-top: 15px;
        max-width: 600px;
        margin: 0 auto;
        line-height: 1;
        text-align: center;

    }

    #popular-news-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0
    }

    #news-card-2 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .card-1 {
        order: 2;
    }

    #card-body-2 {
        bottom: 8px;
        left: 8px;
    }

    .card-body-title {
        font-size: 12px;
    }

    .card-body-sub-title {
        font-size: 10px;
        margin-bottom: 5px;

    }

    .categroy-and-date {
        font-size: 10px;
    }

    .card-2-date {
        font-size: 10px;
    }

    /* footer section */
    .footer-container {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex-wrap: nowrap;
        padding: 20px 8px
    }

    .footer-col {
        flex: 1;
        min-width: 220px;
        text-align: start;
    }

    .footer-social {
        justify-content: start;
        align-items: start;
        gap: 10px
    }

    /* latest national update news */
    .latest-news-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 0 0 0;
    }

    .national-latest-section {
        padding: 30px 20px
    }

    /* star multimedia section in sports page */
    .star-content {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .video-box {
      width:100%;
    }

    .video-box iframe {
        width: 100%;
        height: 400px;
        border-radius: 8px;
    }
    .star-header {
        padding-left:6px;
        padding-right:6px;
    }

}

/* tablet */
@media screen and (min-width:472px) and (max-width:768px) {
    .nav-menu {
        display: none;
    }

    .logo-container {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 10px
    }

    .logo {
        order: 2
    }

    .menu-icon {
        display: block;
        margin-top: 4px;
        order: 1
    }

    .search-conatiner {
        order: 2
    }

    .nav-links {
        display: none;
        position: absolute;
        left: 6px;
        top: 65px;
        background-color: rgba(10, 10, 10, 0.9);
        border-radius: 8px;
        padding: 20px;
        z-index: 100;
        width: 148px;
    }

    /* home page bannder news section */
    .most-popular-news {
        flex-direction: column;
        padding: 0 30px
    }

    .sports-img img {
        width: 100%;
    }

    .banner-news-title {
        font-size: 30px !important;
        text-align: center !important;
    }

    #popular-news-description {
        font-size: 18px;
        text-align: center !important;
        margin: 20px 0;
    }

    .category-and-date {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 9px
    }

    /* news card container */
    #news-card-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 30px
    }

    /* home page most popular news section */
    .news-title {
        font-size: 26px;
        text-align: center;
        margin-bottom: 12px;
    }

    .news-sub-title {
        font-size: 1.2rem;
        color: #555;
        margin-top: 15px;
        max-width: 600px;
        margin: 0 auto;
        line-height: 1;
        text-align: center;

    }

    #popular-news-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0
    }

    #news-card-2 {
        grid-column: span 2;
        grid-row: span 1;
    }

    .card-1 {
        order: 2
    }
     .video-box {
      width:100%;
    }

    .video-box iframe {
        width: 100%;
        height: 400px;
        border-radius: 8px;
    }
  .star-content {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width:472px) and (max-width:1024px) {

    /* news card container */
    #news-card-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 30px
    }

    /* banner news section */
    .banner-news-title {
        font-size: 20px;
        text-align: left
    }

    #popular-news-description {
        font-size: 18px;
        text-align: left;
        margin: 20px 0;
    }

    /* footer */
    .newsletter-form {
        width: fit-content;
    }
}