/* Featured news  section css style  */
.featured-container {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9
}

.news-title {

    font-size: 2.8rem;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    position: relative;
    display: inline;
}

.news-sub-title {
    font-size: 1rem;
    color: #555;
    margin-top: 15px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;

}

/* news card container section */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}