/* navbar container */
/* moblie */
@media screen and (max-width:576px) {
    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        font-size: 22px;
    }

    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    #nav-container {
        flex-direction: column;
        gap: 10px;
        padding: 10px
    }

    .search-container {
        width: 100%;
        box-sizing: border-box;

    }

    .search-input {
        width: 100%
    }
}

/* tablet */
@media screen and (min-width:537px) and (max-width:768px) {
    .nav-menu {
        display: none;
    }

    .logo-container {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 10px
    }

    .logo {
        order: 2
    }

    .menu-icon {
        display: block;
        margin-top: 4px;
        order: 1
    }

    .search-conatiner {
        order: 2
    }

    .nav-links {
        display: none;
        position: absolute;
        left: 6px;
        top: 65px;
        background-color: rgba(10, 10, 10, 0.9);
        border-radius: 8px;
        padding: 20px;
        z-index: 100;
        width: 148px;
    }

}